<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="StocktakrClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="StocktakrClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   
		</sectionGroup>
	</configSections>
	<userSettings>
		<StocktakrClient.Properties.Settings>
   <setting name="store_id" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="password" serializeAs="String">
    <value>12345678</value>
   </setting>
   <setting name="RMDBLocation" serializeAs="String">
    <value>D:\rm12012\Clearwater Pty Ltd\Recent.mdb</value>
   </setting>
   <setting name="StocktakrDBLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="POSServerLocation" serializeAs="String">
    <value>localhost</value>
   </setting>
   <setting name="POSServerUser" serializeAs="String">
    <value>sa</value>
   </setting>
   <setting name="POSServerPassword" serializeAs="String">
    <value>password</value>
   </setting>
   <setting name="POSSoftware" serializeAs="String">
    <value>Microsoft</value>
   </setting>
   <setting name="POSServerDBName" serializeAs="String">
    <value>sample</value>
   </setting>
  </StocktakrClient.Properties.Settings>
  
	</userSettings>
	<system.windows.forms jitDebugging="true"/>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
	<StocktakrClient.Properties.Settings>
  <setting name="StocktakrClient_com_stocktakr_POSItemHandler"
   serializeAs="String">
   <value>http://stocktakr.com/services/POSItemHandler.asmx</value>
  </setting>
 </StocktakrClient.Properties.Settings>
	</applicationSettings>
</configuration>
